version: '3.8'
services:
  web:
    build: .
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.klimaguessr.loadbalancer.sticky=true"
      - "traefik.http.services.klimaguessr.loadbalancer.sticky.cookie.name=socket_sticky_cookie"
      - "traefik.http.services.klimaguessr.loadbalancer.sticky.cookie.httpOnly=true"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"